@import "tailwindcss";

@plugin '@tailwindcss/forms' {
  strategy: "class";
}

@theme {
  --animate-blink-error: blink 0.5s infinite;
  --animate-blink-error-text: blinkText 0.5s infinite;

  @keyframes blink {
    20%,
    60%,
    100% {
      background: #f59993;
    }
    0%,
    40%,
    80% {
      background: white;
    }
  }
  @keyframes blinkText {
    20%,
    60%,
    100% {
      color: white;
    }
    0%,
    40%,
    80% {
      color: #f70515;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility input {
  @apply text-gray-900 text-lg sm:text-2xl text-center py-2 mb-2 w-full border-2 focus:outline-hidden;
}

@utility input-email {
  @apply text-gray-900 text-lg text-center py-3 mb-2 w-96 border-2 focus:outline-hidden;
}

@utility input-error {
  @apply bg-red-100 border-red-600;
}

@utility input-valid {
  @apply focus:border-green-600;
}

@utility input-valid-date {
  @apply active:border-green-600;
}

@utility submit-button {
  @apply bg-green-300 border-2 border-emerald-900 rounded-full p-2 hover:bg-green-900 hover:text-gray-100 active:bg-green-100 active:text-emerald-900 transition duration-150 cursor-pointer;
}

@utility cancel-button {
  @apply bg-gray-600 text-gray-100 border-2 border-gray-900 rounded-full p-2 hover:bg-gray-200 hover:text-gray-600 active:bg-gray-100 transition duration-150 cursor-pointer;
}

@utility delete-button {
  @apply bg-red-300 border-2 border-red-900 rounded-full p-2 hover:bg-red-800 hover:text-white active:bg-red-100 active:text-red-900 transition duration-150 cursor-pointer;
}

@utility misc-button {
  @apply bg-blue-300 border-2 border-blue-900 rounded-full p-2 hover:bg-blue-800 hover:text-white active:bg-blue-100 active:text-blue-900 transition duration-150 cursor-pointer;
}

@utility checkbox {
  @apply h-4 w-4 mx-2 bg-gray-100 border-gray-300 ring-2 ring-gray-200 duration-150 cursor-pointer;
}

@utility checkbox-add {
  @apply text-green-600 hover:ring-green-600 focus:ring-green-600;
}

@utility radio {
  @apply h-4 w-4 mx-2 bg-gray-100 border-gray-300 ring-2 ring-gray-200 duration-150 cursor-pointer;
}

@utility radio-add {
  @apply text-green-600 hover:ring-green-600 focus:ring-green-600;
}

@utility radio-subtract {
  @apply text-red-600 hover:ring-red-600 focus:ring-red-600;
}

@utility radio-remaining {
  @apply text-blue-600 hover:ring-blue-600 focus:ring-blue-600;
}

@utility radio-none {
  @apply text-gray-600 hover:ring-gray-600 focus:ring-gray-600;
}

@utility list-header {
  @apply text-2xl sm:text-3xl lg:text-4xl underline text-emerald-600 font-bold transition duration-150;
}

@utility table-header {
  @apply text-sm sm:text-base transition duration-150 text-center content-center;
}

@utility striped {
  & .expense-card:nth-child(even) {
    @apply bg-green-200;
  }
}

@utility expense-card {
  .striped &:nth-child(even) {
    @apply bg-green-200;
  }
}

@utility stripedTransactions {
  & .transaction-card:nth-child(even) {
    @apply bg-green-200;
  }
}

@utility transaction-card {
  .stripedTransactions &:nth-child(even) {
    @apply bg-green-200;
  }
}

@utility stripedBudgets {
  & li:nth-child(even) .budget-card {
    @apply bg-green-500 border-white text-white hover:bg-green-600 hover:ring-emerald-500/50;
  }

  & li.budget-card-border {
    @apply w-5/6 md:w-1/2 lg:w-1/3 xl:w-1/4 2xl:w-1/5;
  }

  & li:nth-child(even) progress.budget-progress-bar {
    @apply [&::-webkit-progress-bar]:bg-green-200 [&::-webkit-progress-value]:bg-slate-400;
  }

  &
    li:nth-child(even)
    :is(
      p.budget-money-allocation-value,
      p.budget-money-spent-value,
      p.budget-money-remaining-value
    ) {
    @apply text-slate-200;
  }
}

@utility budget-card {
  .stripedBudgets li:nth-child(even) & {
    @apply bg-green-500 border-white text-white hover:bg-green-600 hover:ring-emerald-500/50;
  }
}

@utility budget-card-border {
  .stripedBudgets &li {
    @apply w-5/6 md:w-1/2 lg:w-1/3 xl:w-1/4 2xl:w-1/5;
  }
}

@utility budget-progress-bar {
  .stripedBudgets li:nth-child(even) &progress {
    @apply [&::-webkit-progress-bar]:bg-green-200 [&::-webkit-progress-value]:bg-slate-400;
  }
}

@utility budget-money-allocation-value {
  .stripedBudgets
    li:nth-child(even)
    :is(& p, p.budget-money-spent-value, p.budget-money-remaining-value) {
    @apply text-slate-200;
  }
}

@utility budget-money-spent-value {
  .stripedBudgets
    li:nth-child(even)
    :is(p.budget-money-allocation-value, & p, p.budget-money-remaining-value) {
    @apply text-slate-200;
  }
}

@utility budget-money-remaining-value {
  .stripedBudgets
    li:nth-child(even)
    :is(p.budget-money-allocation-value, p.budget-money-spent-value, & p) {
    @apply text-slate-200;
  }
}

@utility keypad-key-buttons {
  & .button {
    @apply bg-gray-400 text-center px-2 py-2 border border-gray-900 hover:bg-blue-100 active:bg-blue-400 active:text-gray-100 cursor-pointer;
  }

  & .button-delete {
    @apply bg-orange-400 text-center px-2 py-2 border border-gray-900 hover:bg-orange-100 active:bg-orange-400 active:text-gray-100 cursor-pointer;
  }
}

@utility button {
  .keypad-key-buttons & {
    @apply bg-gray-400 text-center px-2 py-2 border border-gray-900 hover:bg-blue-100 active:bg-blue-400 active:text-gray-100;
  }
}

@utility button-delete {
  .keypad-key-buttons & {
    @apply bg-orange-400 text-center px-2 py-2 border border-gray-900 hover:bg-orange-100 active:bg-orange-400 active:text-gray-100;
  }
}

@utility modal-layer-1 {
  @apply bg-black/25 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full md:inset-0 h-full max-h-full;
}

@utility modal-layer-2 {
  @apply relative w-full p-4 max-w-md max-h-full;
}

@utility modal-layer-2-lg {
  @apply relative p-4 max-w-full max-h-full;
}

@utility modal-layer-3 {
  @apply relative bg-gray-100 rounded-lg shadow-xs border-2 border-green-900 px-2 py-2 w-full text-center;
}

@utility nav-button {
  @apply border p-1 text-sm sm:p-2 sm:text-lg rounded-full transition duration-150 hover:scale-105 cursor-pointer;
}

@utility userInfo-input {
  @apply text-gray-900 text-2xl text-center mb-4 w-full border-2 focus:outline-hidden;
}

@utility digitPlace {
  @apply border-2 border-gray-500 bg-gray-100 w-24 text-center p-2 m-2 text-2xl;
}

@utility digitPlace-full {
  @apply bg-green-200 border-green-600;
}

@utility digitPlace-select {
  @apply bg-blue-200 border-blue-600;
}

@layer utilities {
  #additional-nav-header {
    @apply p-3 bg-emerald-900 z-10;
  }
}
